body {
  width: 65%;
  margin: auto;
  background-image: url("../img/wood3.jpg");
}
h1 {
  text-align: center;
  color: white;
  text-decoration: underline;
}
h2 {
  text-align: center;
}
section {
  border: 2px solid #333;
  margin: 1rem 0;
  padding: 1rem;
  background-color: rgb(237, 236, 236);
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.images {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.images img {
  opacity: 50%;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
.images img:hover {
  opacity: 100%;
}
section.scoreboard {
  border-style: solid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
@media screen and (max-width: 768px)  {
  main {grid-template-columns: 1fr;}
  main img {transform: scale(.9);}
}
#result {
  border-bottom: 2px dotted rgb(170, 170, 170);
  padding-bottom: 1rem;
  grid-column-start: 1;
  grid-column-end: 4;
}
.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#pscore, #tscore, #oscore {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1;
  margin-bottom: .25rem;
}
#pscore {
  color: green;
}
#tscore {
  color: gold;
}
#oscore {
  color: red;
}
p.label {
  line-height: 1;
  margin-top: 0;
}
.reset {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  margin-top: 1rem;
}
.reset button {
  padding: .25rem .5rem;
  cursor: pointer;
  transition: all .5s ease-in-out;
  color: white;
  background-color: gray;
  border: .15rem solid black;
}